@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: black;
    color: white;
    font-family: 'raleway', sans-serif;
    text-align: center;
}
header h1{
    background-color: black;
    font-size: 40px;
    text-align: center;
    /* border: red solid 3px; */
    top: 0px;
    left: 0px;
    width: 100%;

}
header figure{
    width: 100%;
    opacity:1;
    /* border: red solid 3px; */
}
.order{
    /* border: red solid 3px; */
    display: flex;
    justify-content: center;
    padding: 100px;
}
.flex{
    display: flex;
    justify-content: space-around;
    gap:25px;
    /* border: red solid 3px; */
    font-size: 20px;
}
.container{
        /* border: red solid 3px; */
    }
    .container h2{
        font-size: 40px;
    }
.galery{
    /* border: red solid 3px; */
    display: flex;
    justify-content: center;
}

.text{
    text-align: left;
    width: 500px;
    /* border: red solid 3px; */
    margin: auto;
}
.galery>figure>img{
    width: 300px;
    padding: 0;
    margin: 0;
    /* border: red solid 3px; */
}
footer{
    padding: 60px;
    font-size: 25px;
}
